:root {
    --primary-color: #081B33;
    --secondary-color: #E54A35;
    --tertiary-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--tertiary-color)
}

.navbar-item img {
  max-height: 35px;
  height: 50px;
  width: 50px;
}

.header {
  font-weight: bolder;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.header:hover {
  color: var(--secondary-color);
}

.active {
  color: var(--secondary-color);
}

.navbar-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 27px;
  font-size: 10px;
  color: var(--primary-color)
}

.tabs {
  background-color: var(--tertiary-color);
}

.tabs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);

}

.tabs a {
  color: var(--primary-color);
  font-size: 20px;
  transition: all 0.3s ease;
}

.tabs a:hover {
  color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
}

.tabs li.is-active a {
  color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  font-size: 20px;
  font-weight: bold;
}



.label {
  color: var(--secondary-color);
}

div.navbar-brand {
  padding-top: 2em;
  margin-bottom: 2em;
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.button, .proj-link, .btn {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  transition: all 0.3s ease;
  border: none;
  border-radius: 2px;
}

.button:hover, .proj-link:hover, .btn:hover {
  background-color: #f75a00;
  color: var(--tertiary-color);
}

.btn {
  padding: 5px 7px 5px 7px;
  margin: 8px;
}

.is-family-code {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 30em;
  margin-right: 30em;
}

.label {
  text-align: left;
}

footer.footer {
  background-color: var(--tertiary-color);
}

.footer-p {
  color: var(--primary-color);
}

.social-link {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.my-logo {
 width: 60px;
}

.nav-tabs {
  height: 100px;
}

.head-name {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  font-weight: bold;
  font-size: 45px;
}

.nav {
  padding: 5px;
}

.about-box {
  display: flex;
  justify-content: left;
  padding: 10px;
  margin-bottom: 25px;
  margin-left:25px;
  margin-right: 25px;
}

.about-box img {
  max-height: 250px;
  margin-right: 25px;
  width: 250px;
  border-radius: 9px;
}

.about-box p, h2 {
  text-align: left;
}

.about-box h2 {
  color: var(--tertiary-color);
  font-weight: bolder;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--secondary-color);
}

.swiper-pagination-bullet {
  background: var(--tertiary-color);
}

.swiper-pagination-bullet-active {
  background: var(--secondary-color);
}

.card-img-top {
  max-height: 75%;
  max-width: 75%;
  border-radius: 25px;
  margin-top: 5px;
}

.card {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  
}

.card-title {
  color: var(--tertiary-color);
  font-size: 30px;
  padding-bottom: 8px;
}

.card ul {
  list-style-type: none;
}

.contact-me {
  display: block;
  width: 50%;
  margin: 0 auto;
  max-width: 100%;
  padding: 30px 30px;
  margin-left: auto;
  margin-right: auto;
}

.column {
  margin-bottom: 10px;
}
/* media query */

@media only screen and (max-width: 2000px) {
  main {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

 /* MEDIA QUERY FOR TABLETS AND SMALLER */
 @media screen and (max-width: 768px) {
  section {
      padding: 30px 15px;
  }

  .about-box {
      flex: 1 100%;
      text-align: center;
      justify-content: center;
  }

  .about-box img {
      flex: 0;
      margin-right: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
  }

  .textBox {
      flex: 100%;
  }
  
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .about-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .section-title1, .section-title2 {
      width: 95%;
  }

  /* .about-box img {
      width: 80%;
  } */

  .contact-me {
    width: 100%;
  }

  .card-img-top {
    height: 300px;
  }

  
}

